.vs/
.vscode/
bin/
obj/
%LOCALAPPDATA%/
hadamard_H1.json
hadamard_H2.json
hadamard_H3.json
hadamard_H4.json
hadamard_H5.json
hadamard_H6.json
hadamard_H7.json
hadamard_H8.json
hadamard_H9.json
hadamard_H10.json
hadamard_H11.json
hadamard_H12.json
hadamard_H13.json
hadamard_H14.json
hadamard_H15.json