@using Client.Models

@page "/combine"

<div class="card">
    <div class="card-header text-center fs-2">
        Transform Data
    </div>

    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" style="color: black" href="/input">Input Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black" href="/upload">Upload Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="combine">Compose</a> 
      </li>
    </ul>
  </div>
  <div class="card-group">
    <div class="card" style="background-color: #d3d3d3">
      <div class="card-body">
        <label for="compPercent">Size:</label>
        <input id="compPercent" type="number" @bind="size" min="0" max="15" />
      </div>
    </div>

    <div class="card" style="background-color: #d3d3d3">
        <div class="card-body text-end">
            <button @onclick="AddSignal" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</div>

@if(combinedData != null && combinedData.Any())
{
    <div class="card">
        <div class="card-header text-center fs-4">
            Composite Signal
        </div>
        <div class="card-body text-center">
            <ScatterChart YVals="combinedData" @key="combinedData"/>
        </div>
    </div>

    @foreach(var data in signals)
    {
        <div class="card">
            <div class="card-header">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="includeSignal" checked/>
                </div>
            </div>
            <div class="card-group">
                <div class="card" style="background-color: #d3d3d3; max-width: 5%;">
                    <div class="card-body d-flex align-items-center">
                        <input id="includeGraph" type="number"/>
                    </div>
                </div>
                <div class="card" style="background-color: #d3d3d3">
                    <div class="card-body text-center">
                        <ScatterChart YVals="data.Elements" @key="data.Id"/>
                    </div>
                </div>
            </div>
        </div>
    }
}


@code {
    private int[] combinedData;
    private string dataString;
    private int[] inputData;
    private int size = 0;
    private List<Data> signals = new List<Data>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void AddSignal() 
    {
        combinedData = GenerateRandomArray();
        for(int i = 0; i < 3; i++)
        {
            Data temp = new Data
            {
                Elements = GenerateRandomArray()
            };
            signals.Add(temp);
        }
    }

    private void RemoveSignal(Guid id)
    {
        var signalToRemove = signals.FirstOrDefault(signal => signal.Id == id);
        if (signalToRemove != null)
        {
            signals.Remove(signalToRemove);
        }
        @* combinedData = API.whatever(signals); *@
        combinedData = GenerateRandomArray();
        StateHasChanged();
    }

    private int[] GenerateRandomArray()
    {
        int length = 10; // Default length of the array
        int minValue = 1; // Default minimum value
        int maxValue = 20; // Default maximum value

        Random random = new Random();
        int[] array = new int[length];
        for (int i = 0; i < length; i++)
        {
            array[i] = random.Next(minValue, maxValue + 1);
        }
        return array;
    }
}