@page "/"

@using Client.Models
@using Client.Services
@using Plotly.NET
@using Plotly.NET.LayoutObjects
@using Microsoft.FSharp.Core
@using Microsoft.FSharp.Collections
@using Plotly.NET.CSharp
@inject DataService DataServ

<h1>Transformers</h1>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">Test Data: </li>
    @foreach (var el in data.Elements)
    {
        <li class="list-group-item">@el</li>
    }
</ul>

<div>
</div>

@code {
    private Data data;

    protected override async Task OnInitializedAsync()
    {
        // Gather temporary data
        data = await DataServ.GetDataAsync();

        @* Chart.Point<double, double, string>(
            x: new double[] { 1, 2 }, 
            y: new double[] { 5, 10 }
        )
        .WithTraceInfo("Hello from C#", ShowLegend: true)
        .WithXAxisStyle<double, double, string>(Title: Plotly.NET.Title.init("xAxis"))
        .WithYAxisStyle<double, double, string>(Title: Plotly.NET.Title.init("yAxis"))
        .Show(); *@
    }
}


