@using Client.Services
@using Client.Shared.API
@inject API APIServ
@inject SettingsService SettingsServe

@page "/"

<h1>Transformers</h1>

@code {
    [Inject] private NavigationManager NavMan {get; set;}


    protected override void OnInitialized()
    {
        APIServ.Initialize();
        base.OnInitialized();
    }
}




