@using Client.Services
@using Client.Shared.API
@inject API APIServ
@inject SettingsService SettingsServe

@page "/"

<div class="card">
    <div class="card-header text-center fs-2">
        Walsh-Hadamard Transformation
    </div>

    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

@code {
    [Inject] private NavigationManager NavMan {get; set;}


    protected override void OnInitialized()
    {
        APIServ.Initialize();
        base.OnInitialized();
    }
}




