@using Client.Services
@using Client.Shared.API
@inject API APIServ
@inject SettingsService SettingsServe

@page "/"

<div class="card">
    <div class="card-header text-center fs-2">
        Walsh-Hadamard Transformation
    </div>

    <div class="card-body">
        The Walsh-Hadamard Transform is a Fourier technique that decomposes a signal into basis signals composed of only 1's and -1's. This transformed signal can be manipulated and then converted back by using the Inverse WHT. Our project aims to demonstrate two such manipulations, compression and filtration. We focused on making our application modern and easily maintainable by creating a .NET MAUI Blazor Hybrid application. This framework should give a good foundation for implementing additional Fourier techniques in an open-sourced development environment as well.
    </div>
</div>

@code {
    [Inject] private NavigationManager NavMan {get; set;}


    protected override void OnInitialized()
    {
        APIServ.Initialize();
        base.OnInitialized();
    }
}




