@using Client.Shared.API;
@inject API APIServe

@page "/input"

<h1>Input Data</h1>

<button @onclick="GoToHome">Home</button>

<div>
    <label for="inputData">Enter your data:</label>
    <input id="inputData" @bind="dataString" />
    <button @onclick="SendData">Submit</button>
</div>

<div>
    <label for="truncData">Truncate Data:</label>
    <input type="checkbox" @bind="truncate"/>
</div>

<div>
    <label for="compPercent">Compression Percentage (0-100):</label>
    <input id="compPercent" type="number" @bind="compression" min="0" max="100" />
</div>

@if (outputData != null && outputData.Any())
{
    <p> Graph the data </p>
    <ScatterChart YVals="outputData" @key="outputData" />
}

@code {
    private string dataString;
    private int[] inputData;
    private int[] outputData;
    private bool truncate = false;
    private int compression = 0;
    [Inject] private NavigationManager NavMan { get; set; }

    protected override void OnInitialized()
    {
        APIServe.initialize();
        base.OnInitialized();
    }

    private void GoToHome()
    {
        NavMan.NavigateTo("/");
    }

    private void SendData()
    {
        inputData = dataString.Split(',').Select(s => int.TryParse(s, out int result) ? result : 0).ToArray();
        outputData = APIServe.forwardHadamardTransform(inputData, truncate, compression);
        StateHasChanged();
    }
}