@page "/upload"

@using Client.Models
@using Client.Shared.API
@inject API APIServe

<div class="card">
    <div class="card-header text-center fs-2">
        Transform Data
    </div>

    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" style="color: black" href="/input">Input Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="/upload">Upload Data</a>
      </li>
    </ul>
  </div>
  <div class="card-group">
    <div class="card" style="background-color: #d3d3d3">
      <div class="card-body">
          <InputFile OnChange="@UploadFile" multiple accept=".json" />
      </div>
    </div>
    <div class="card" style="background-color: #d3d3d3">
      <div class="card-body">
        <label for="compression">Compression:</label>
        <input id="comppression" type="number" @bind="compression" min="0" max="100" />%
      </div>
    </div>
    <div class="card" style="background-color: #d3d3d3">
      <div class="card-body">
        <label for="truncData">Truncate Data:</label>
        <input type="checkbox" @bind="truncate"/>
      </div>
    </div>
  </div>

  <div class="card-footer text-end">
    <button @onclick="SendData" class="btn btn-primary">Submit</button>
  </div>
</div>

@foreach(var data in dataList)
{
    <div class="card" style="background-color: #d3d3d3">
    <div class="card-body text-center">
        <ScatterChart YVals="data.Elements" @key="data" />
    </div>
    <div class="card-footer text-end">
        <button @onclick="() => InverseData(data)" class="btn btn-primary">Inverse</button>
        <input id="compPercent" type="number" @bind="data.Compression" min="0" max="100" />%
        <button @onclick="() => FilterData(data)" class="btn btn-primary">Filter</button>
    </div>
    </div>
}

@code {
    private long maxFileSize = 1024 * 1024 * 3; // 3 MB
    private int maxAllowedFiles = 1;
    private List<string> errors = new();
    private string path = ".\\";
    private bool truncate = false;
    private int compression = 0;
    private List<Data> dataList = new List<Data>();
    [Inject] private NavigationManager NavMan { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void SendData()
    {
        dataList.Clear();
        Data data = new Data
        {
            Elements = APIServe.InitialData(path, truncate, compression)
        };
        dataList.Add(data);
        StateHasChanged();
    }

    @* private void SendData()
    {
        dataList.Clear();
        Data data = new Data
        {
            Elements = APIServe.ForwardHadamardTransform(path, truncate, 0)
        };
        dataList.Add(data);
        StateHasChanged();
    } *@
    private void FilterData(Data oldData)
    {
        Data data = new Data
        {
            Elements = APIServe.Filter(oldData.Elements, oldData.Compression)
        };
        dataList.Add(data);
        StateHasChanged();
    }

    private void InverseData(Data oldData)
    {
        Data data = new Data
        {
            Elements = APIServe.InverseWalshTransform(oldData.Elements)
        };
        dataList.Add(data);
        StateHasChanged();
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        errors.Clear();

        if (e.FileCount > maxAllowedFiles)
        {
            errors.Add($"Error: Attempting to upload {e.FileCount} files, but only {maxAllowedFiles} Files are allowed");
            return;
        }

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(), 
                Path.GetExtension(file.Name));

                string filepath = Path.Combine(
                    "C:\\temp", 
                    "DataFiles", 
                    newFileName);

                Directory.CreateDirectory(Path.Combine(
                    "C:\\temp", 
                    "DataFiles"));

                string fileExtension = Path.GetExtension(file.Name)?.ToLower();

                if (fileExtension != ".json")
                {
                    errors.Add($"Error: Attempting to upload incompatible file. Only json and csv are allowed");
                }
                else
                {
                    using (FileStream fs = new(filepath, FileMode.Create))
                    {
                        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                    }

                    path = filepath;
                    @* data = new int[] {1, 2, 3, 4, 5}; *@
                }
                
            } 
            catch (Exception ex)
            {
                errors.Add($"File: {file.Name} Error: {ex.Message}");
            }
        }

    }
    
}


